
#opigno-simple-ui-overlay-left-column {
  background: none repeat scroll 0 0 #000000;
  float: left;
  margin: -0.5em 1em -0.5em -1em;
  min-height: 200px;
  position: relative;
  width: 200px;
  z-index: 5;
}
  
    #opigno-simple-ui-overlay-left-column li {
      padding: 0;
    }
    
      #opigno-simple-ui-overlay-left-column a {
        border-bottom: 1px solid #222222;
        border-right: 3px solid transparent;
        display: block;
        padding: 0.75em 0.5em 0.75em 3em;
      }
      
      #opigno-simple-ui-overlay-left-column a:hover, #opigno-simple-ui-overlay-left-column a.active-trail {
        background: #222;
        color: #fff;
      }
      
      /* Color codes + icons if using Platon theme*/
      #opigno-simple-ui-overlay-left-column .opigno-admin-config { border-right-color: red; }
      #opigno-simple-ui-overlay-left-column .opigno-admin-user { border-right-color: gold; }
      #opigno-simple-ui-overlay-left-column .opigno-admin-course { border-right-color: blue; }

#opigno-simple-ui-overlay-right-column {
  float: left;
  width: 100%;
  margin-left: -200px;
}

  #opigno-simple-ui-overlay-right-column-content {
    padding-left: 200px;
  }
  